@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url("Header.css");
@import url("Main.css");
@import url("article.css");
@import url("habilidades.css");
@import url("projetos.css");
@import url("contato.css");
/*   font-family: "Montserrat", sans-serif;
     font-family: "Poppins", sans-serif;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: radial-gradient(circle, #074245 0%, rgba(0, 23, 48, 1) 50%, rgba(2, 24, 31, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
html {
    scroll-behavior: smooth;
  }